
<table>
    <% for (const key in data) { %>
        <% if (data.hasOwnProperty(key)) { %>
            <%  const ele = data[key]; %> 
        <tr>
            <td> time :  <%= ele.time %> </td>
            <% let data2 = ele.broswer %> 
            <td> broswer </td>
            <% for (const key2 in data2) { %>
                <% if (data2.hasOwnProperty(key2)) { %>
                    <%  const ele2 = data2[key2]; %> 
                    <td> <%= key2 %> : <%= ele2 %> </td>
                <% } %>
            <% } %>
            <% let ipObj1 = ele.ip %> 
            <td> ip </td>

            <% for (const ipKey1 in ipObj1) { %>
                <% if (ipObj1.hasOwnProperty(ipKey1)) { %>
                    <% const ipObj2 = ipObj1[ipKey1]; %> 
                     
                    <% for (const ipKey2 in ipObj2) { %>
                        <% if (ipObj2.hasOwnProperty(ipKey2)) { %> 
                            <% const ipObj3 = ipObj2[ipKey2]; %>
                           
                            <% for (const ipKey3 in ipObj3) { %>
                                <% if (ipObj3.hasOwnProperty(ipKey3)) { %>
                                    <%  const eleIp = ipObj3[ipKey3]; %>                         
                                    <td><%= ipKey3 %> : <%= eleIp %> </td>
                                    <% }else{ %>
                                    <td>--------<%= ipKey3 %> : <%= eleIp %>-------</td>
                                <%  } %>
                            <% } %>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>
            

        </tr>
        <% } %>
    <% } %>

</table>


<script>
/*
    console.log(typeof(data) );
                array.forEach(element => {
                    
                });
                for (const key in object) {
                    if (object.hasOwnProperty(key)) {
                        const element = object[key];
                        
                    }
                }
                console.log(data[0].time);
   */                 
</script>